<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图书借阅系统-书籍列表</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    
</head>

<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">图书借阅系统-书籍列表</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/books/list">书籍列表</a></li>
                    {{if isLogined}}
                    <li><a href="/user/user_info">个人中心</a></li>
                    {{/if}}
                </ul>

                {{if isLogined}}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a onclick="logOut()" href="javascript:void(0)"><i class="glyphicon glyphicon-log-out"></i>[退出]</a>
                    </li>
                </ul>
                {{else}}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户中心 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/user/login">登陆</a></li>
                            <li><a href="/user/reg">注册</a></li>
                        </ul>
                    </li>
                </ul>
                {{/if}}
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">图书列表</h3>
                    </div>
                    <div class="panel-body">   
                        <div id="mainContainer" class="row">
                        </div>                     
                        <button id="btnLoadMore" type="button" class="btn btn-block btn-danger">加载更多</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/lib/jquery-1.9.1.js"></script>
    <script src="/lib/jquery.validate.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/messages_zh.js"></script>
    <script>
        
        $(function(){
            var _currentPage = 0; //当前页
            var _isLoading = false; //是否正在加载
            loadData()
            $('#btnLoadMore').click(function(){
                loadData()
            })
            function loadData(){
                if(_isLoading){
                    return false;
                }
                _currentPage += 1
                $.ajax({
                    method:'get',
                    url:'/books/get_data/'+_currentPage,
                    dataType:'json',
                    beforeSend:function(){
                        _isLoading = true;
                    },
                    success:function(res){
                        var strHtml = ""
                        res.data.forEach(function(item){
                            strHtml += `<div class="book-item col-sm-3">
                                <div class="thumbnail">
                                    <img src="${item.img}" alt="${item.title}">
                                    <div class="caption">
                                        <h3>${item.title.length>9?item.title.substring(0,8)+"...":item.title}</h3>
                                        <p>${item.author.length>12?item.title.substring(0,11)+"...":item.author}</p>
                                        <p>￥${item.price}元</p>   
                                        <p>
                                            <a href="javascript:void(0)" onclick="doPick('${item._id}')" class="btn btn-primary">借阅</a>
                                        </p>
                                    </div>
                                </div>
                            </div>`
                        })
                        $('#mainContainer').append(strHtml)
                    },
                    error:function(err){
                        console.dir(err)
                    },
                    complete:function(){
                        _isLoading = false;
                    }
                })
            }
        })
        
        function doPick(id){
            {{if isLogined}}
            $.ajax({
                method:'post',
                data:{id:id},
                url:'/books/pick',
                success:function(res){
                    alert(res.msg)
                    console.dir(res)
                }
            })
            {{else}}
            alert('请先登录!');
            {{/if}}
        }
    </script>
    <script src="/lib/jquery.cookie.min.js"></script>
    <script>
        //退出登录
        function logOut(){
            $.removeCookie('user_id',{path:'/'}); //清除cookie
            window.location.href = '/user/login' //页面跳转
        }
    </script>
</body>

</html>